#!/bin/bash
set -e

if ! [ -x "$(command -v git)" ]; then
  {{- if eq .chezmoi.os "darwin" }}
  brew install git
  {{- else if or (eq .chezmoi.osRelease.name "Ubuntu") (eq .chezmoi.osRelease.name "elementary OS") }}
  sudo apt install git 
  {{- end }}
fi

if ! [ -x "$(command -v go)" ]; then
  {{- if eq .chezmoi.os "darwin" }}
  sudo rm -rf /usr/local/go && curl -LSs https://golang.org/dl/go1.17.2.darwin-amd64.tar.gz | sudo tar -C /usr/local -xzf-
  {{- else if or (eq .chezmoi.osRelease.name "Ubuntu") (eq .chezmoi.osRelease.name "elementary OS") }}
  sudo rm -rf /usr/local/go && curl -LSs https://golang.org/dl/go1.17.2.linux-amd64.tar.gz | sudo tar -C /usr/local -xzf-
  {{- end }}
fi

if ! [ -x "$(command -v starship)" ]; then
  {{- if eq .chezmoi.os "darwin" }}
  brew install starship
  {{- else if or (eq .chezmoi.osRelease.name "Ubuntu") (eq .chezmoi.osRelease.name "elementary OS") }}
  sh -c "$(curl -fsSL https://starship.rs/install.sh)"
  {{- end }}
fi

if ! [ -x "$(command -v asdf)" ]; then
  git clone https://github.com/asdf-vm/asdf.git ~/.asdf --branch v0.8.1
fi

if ! [ -x "$(command -v direnv)" ]; then
  asdf plugin add direnv || true
  asdf install direnv 2.28.0
fi

if ! [ -x "$(command -v nvim)" ]; then
  asdf plugin add neovim || true
  asdf install neovim 0.5.1
fi

if ! [ -x "$(command -v lua)" ]; then
  {{- if eq .chezmoi.os "darwin" }}
  xcode-select --install
  {{- else if or (eq .chezmoi.osRelease.name "Ubuntu") (eq .chezmoi.osRelease.name "elementary OS") }}
  sudo apt-get install \
    linux-headers-$(uname -r) \
    build-essential \
    libreadline-dev 
  {{- end }}
  asdf plugin add lua || true
  asdf install lua 5.3.5
fi

if ! [ -x "$(command -v ghq)" ]; then
  asdf plugin add ghq || true
  asdf install ghq 1.2.1
fi

if ! [ -x "$(command -v lua-language-server)" ]; then
  {{- if eq .chezmoi.os "darwin" }}
  brew install ninja
  {{- else if or (eq .chezmoi.osRelease.name "Ubuntu") (eq .chezmoi.osRelease.name "elementary OS") }}
  sudo apt install ninja-build
  {{- end }}
  ghq get sumneko/lua-language-server
  cd "$(ghq root)/github.com/sumneko/lua-language-server"
  git submodule update --init --recursive
  cd 3rd/luamake
  ./compile/install.sh
  cd ../..
  ./3rd/luamake/luamake rebuild
fi

if ! [ -x "$(command -v node)" ]; then
  asdf plugin add nodejs || true
  asdf install nodejs lts
fi

if ! [ -x "$(command -v luafmt)" ]; then
  npm install -g lua-fmt
fi

if ! [ -x "$(command -v keybase)" ]; then
  {{- if eq .chezmoi.os "darwin" }}
  echo "Visit https://keybase.io/docs/the_app/install_macos to install Keybase"
  {{- else if or (eq .chezmoi.osRelease.name "Ubuntu") (eq .chezmoi.osRelease.name "elementary OS") }}
  curl --remote-name https://prerelease.keybase.io/keybase_amd64.deb
  sudo apt install ./keybase_amd64.deb
  run_keybase
  {{- end }}
fi

if ! [ -x "$(command -v fzf)" ]; then
  git clone --depth 1 https://github.com/junegunn/fzf.git ${HOME}/.fzf
  ${HOME}/.fzf/install
fi

if ! [ -x "$(command -v efm-langserver)" ]; then
  go install github.com/mattn/efm-langserver@latest
fi

if ! [ -x "$(command -v rg)" ]; then
  {{- if eq .chezmoi.os "darwin" }}
  brew install ripgrep
  {{- else if or (eq .chezmoi.osRelease.name "Ubuntu") (eq .chezmoi.osRelease.name "elementary OS") }}
  sudo apt-get install ripgrep
  {{- end }}
fi

if ! [ -x "$(command -v tflint)" ]; then
  asdf plugin add tflint || true
  asdf install tflint 0.32.0
fi

if ! [ -x "$(command -v tmux)" ]; then
  {{- if eq .chezmoi.os "darwin" }}
  brew install tmux
  {{- else if or (eq .chezmoi.osRelease.name "Ubuntu") (eq .chezmoi.osRelease.name "elementary OS") }}
  sudo apt-get install tmux
  {{- end }}
fi

if [ ! -d "${HOME}/.tmux/plugins/tpm" ]; then
  git clone https://github.com/tmux-plugins/tpm ~/.tmux/plugins/tpm
fi

if ! [ -x "$(command -v yarn)" ]; then
  npm install -g yarn
fi

if ! [ -x "$(command -v prettierd)" ]; then
  npm install -g @fsouza/prettierd
fi

if ! [ -x "$(command -v prettier-eslint)" ]; then
  npm install -g prettier-eslint-cli
fi
