[General]
  column = 40
  editor = "nvim"
  selectcmd = "fzf --ansi"
  snippetfile = "~/snippet.toml"
  backend = "gitlab"

[GitLab]
	access_token = "{{ (bitwardenFields "item" "gitlab.com").token.value }}"
  auto_sync = true
  file_name = "snippet.toml"
	id = "{{ (bitwardenFields "item" "gitlab.com").pet.value }}"
  visibility = "private"
