[include]
	path = ~/.gitconfig.local

[core]
	excludesfile = ~/.gitignore_global

[color]
	ui = auto

[commit]
	gpgsign = true

[tag]
	forceSignAnnotated = true

[url "git@github.com:JapanTaxi"]
	insteadOf = git://github.com/JapanTaxi
	insteadOf = https://github.com/JapanTaxi

[url "git@github.com:"]
	pushInsteadOf = git://github.com/
	pushInsteadOf = https://github.com/

[url "git@gitlab.com:"]
	insteadOf = https://gitlab.com/

[diff]
	tool = vimdiff

[merge]
	tool = vimdiff

[difftool]
	prompt = false

# https://stackoverflow.com/a/50042202/6549460
[difftool "vimdiff"]
	cmd = vim -f -d -c 'wincmd l' -c 'cd "$GIT_PREFIX"' "$LOCAL" "$REMOTE"
