[include]
	path = ~/.gitconfig.local

[core]
	excludesfile = ~/.gitignore_global

[color]
	ui = auto

[commit]
	gpgsign = true

[tag]
	forceSignAnnotated = true

[url "git@github.com:"]
	insteadOf = https://github.com/

[url "git@gitlab.com:"]
	insteadOf = https://gitlab.com/
