[init]
  defaultBranch = trunk

[pull]
	rebase = false

[push]
	autoSetupRemote = true

[gpg]
	program = gpg

[core]
	excludesfile = ~/.gitignore
	pager = delta
	editor = nvim

[color]
	ui = auto

[commit]
	gpgsign = true

[tag]
	forceSignAnnotated = true

[diff]
	tool = vimdiff

[merge]
	tool = vimdiff

[difftool]
	prompt = false

# https://stackoverflow.com/a/50042202/6549460
[difftool "vimdiff"]
	cmd = vim -f -d -c 'wincmd l' -c 'cd "$GIT_PREFIX"' "$LOCAL" "$REMOTE"

[url "https://github.com"]
	insteadOf = git://github.com

[url "https://gitlab.com/"]
	insteadOf = git@gitlab.com:

[http]
	cookiefile = $HOME/.gitcookies

[delta]
	plus-color = "#012800"
	minus-color = "#340001"
	line-numbers = true
	whitespace-error-style = 22 reverse

[interactive]
	diffFilter = delta --color-only

[init]
	defaultBranch = main

[credential "https://github.com"]
    helper =
    helper = !gh auth git-credential

[credential "https://gitlab.com"]
    helper =
    helper = !glab auth git-credential

[credential]
    helper = store

[ghq]
    root = ~/dev/wp
    root = ~/dev/as
    root = ~/dev/me

[include]
    path = ~/.gitconfig.secret

[includeIf "gitdir:dev/wp/**"]
    path = ~/.gitconfig.wp

[includeIf "gitdir:dev/as/**"]
    path = ~/.gitconfig.as
