local wezterm = require "wezterm"

return {
    color_scheme = "nightfox",
{{- if eq .chezmoi.os "darwin" }}
    use_ime = false,
{{- else }}
    use_ime = true,
{{- end }}
    font = wezterm.font("VictorMono Nerd Font"),
{{- if eq .chezmoi.hostname "desktop.shihan.home" }}
    font_size = 12,
{{- else }}
    font_size = 17,
{{- end }}
    hide_tab_bar_if_only_one_tab = true
}
