[init]
    defaultBranch = main

[pull]
    rebase = true

[push]
    autoSetupRemote = true
    default = simple
    autoSetupRemote = true
    followTags = true

[gpg]
    format = ssh

[gpg "ssh"]
    program = "/Applications/1Password.app/Contents/MacOS/op-ssh-sign"

[core]
    excludesfile = ~/.gitignore
    pager = delta
    editor = nvim

[color]
    ui = auto

[commit]
    verbose = true
    gpgsign = true

[tag]
    sort = version:refname
    forceSignAnnotated = true

[diff]
    algorithm = histogram
    colorMoved = plain
    mnemonicPrefix = true
    renames = true
    tool = vimdiff

[merge]
    tool = vimdif
    conflictstyle = zdiff3 

[difftool]
    prompt = false

# https://stackoverflow.com/a/50042202/6549460
[difftool "vimdiff"]
    cmd = vim -f -d -c 'wincmd l' -c 'cd "$GIT_PREFIX"' "$LOCAL" "$REMOTE"

[url "https://github.com"]
    insteadOf = git://github.com

[url "https://gitlab.com/"]
    insteadOf = git@gitlab.com:

[http]
    cookiefile = $HOME/.gitcookies

[delta]
    plus-color = "#012800"
    minus-color = "#340001"
    line-numbers = true
    whitespace-error-style = 22 reverse

[interactive]
    diffFilter = delta --color-only

[init]
    defaultBranch = main

[credential "https://github.com"]
    helper =
    helper = !gh auth git-credential

[credential "https://gitlab.com"]
    helper =
    helper = !glab auth git-credential

[credential]
    helper = store

[ghq]
    root = ~/dev/wp
    root = ~/dev/me
    root = ~/dev/kt

[user]
    name = Shi Han NG
    email = shihanng@gmail.com
    signingkey = ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIN0tszglGwnR8Jpfza8h9YiqNFW7m/sYbiDqGqOyGoMt

[include]
    path = ~/.gitconfig.secret

[includeIf "gitdir:dev/wp/**"]
    path = ~/.gitconfig.wp

[includeIf "gitdir:dev/kt/**"]
    path = ~/.gitconfig.kt

[column]
    ui = auto

[branch]
    sort = -committerdate

[help]
    autocorrect = prompt

[rerere]
    enabled = true
    autoupdate = true

[rebase]
    autoSquash = true
    autoStash = true
    updateRefs = true
