#!/bin/bash
set -eux

if ! [ -x "$(command -v tmuxinator)" ]; then
  {{- if eq .chezmoi.os "darwin" }}
  brew install tmuxinator
  {{- else }}
  echo "tmuxinator in non-darwin not supported"
  {{- end }}
fi
