{{- if eq .chezmoi.os "darwin" -}}
#!/bin/bash

set -euxo pipefail

mkdir -p "${HOME}/.1password"
ln -sf "${HOME}/Library/Group Containers/2BUA8C4S2C.com.1password/t/agent.sock" \
    "${HOME}/.1password/agent.sock"
{{- end -}}
