#!/bin/bash
set -eux

if ! [ -x "$(command -v go)" ]; then
  {{- if eq .chezmoi.os "darwin" }}
  sudo rm -rf /usr/local/go && curl -LSs https://golang.org/dl/go1.17.2.darwin-amd64.tar.gz | sudo tar -C /usr/local -xzf-
  {{- else if or (eq .chezmoi.osRelease.name "Ubuntu") (eq .chezmoi.osRelease.name "elementary OS") }}
  sudo rm -rf /usr/local/go && curl -LSs https://golang.org/dl/go1.17.2.linux-amd64.tar.gz | sudo tar -C /usr/local -xzf-
  {{- end }}
fi

if ! [ -x "$(command -v lua)" ]; then
  {{- if eq .chezmoi.os "darwin" }}
  xcode-select --install
  {{- else if or (eq .chezmoi.osRelease.name "Ubuntu") (eq .chezmoi.osRelease.name "elementary OS") }}
  sudo apt-get install \
    linux-headers-$(uname -r) \
    build-essential \
    libreadline-dev 
  {{- end }}
  asdf plugin add lua || true
  asdf install lua 5.3.5
fi

if ! [ -x "$(command -v keybase)" ]; then
  {{- if eq .chezmoi.os "darwin" }}
  echo "Visit https://keybase.io/docs/the_app/install_macos to install Keybase"
  {{- else if or (eq .chezmoi.osRelease.name "Ubuntu") (eq .chezmoi.osRelease.name "elementary OS") }}
  curl --remote-name https://prerelease.keybase.io/keybase_amd64.deb
  sudo apt install ./keybase_amd64.deb
  run_keybase
  {{- end }}
fi

if ! [ -x "$(command -v fzf)" ]; then
  git clone --depth 1 https://github.com/junegunn/fzf.git ${HOME}/.fzf
  ${HOME}/.fzf/install
fi

if ! [ -x "$(command -v efm-langserver)" ]; then
  go install github.com/mattn/efm-langserver@latest
fi

if [ ! -d "${HOME}/.tmux/plugins/tpm" ]; then
  git clone https://github.com/tmux-plugins/tpm ~/.tmux/plugins/tpm
fi

if ! [ -x "$(command -v gpgconf)" ]; then
  {{- if eq .chezmoi.os "darwin" }}
  brew install gnupg
  {{- else }}
  echo "python in ubuntu not supported"
  {{- end }}
fi

if ! [ -x "$(command -v pet)" ]; then
  {{- if eq .chezmoi.os "darwin" }}
  brew install knqyf263/pet/pet
  {{- else }}
  echo "python in ubuntu not supported"
  {{- end }}
fi

if ! [ -x "$(command -v fd)" ]; then
  {{- if eq .chezmoi.os "darwin" }}
  brew install fd
  {{- else }}
  echo "python in ubuntu not supported"
  {{- end }}
fi

if ! [ -x "$(command -v delta)" ]; then
  {{- if eq .chezmoi.os "darwin" }}
  brew install git-delta
  {{- else }}
  echo "python in ubuntu not supported"
  {{- end }}
fi

if ! [ -x "$(command -v gopls)" ]; then
  go install golang.org/x/tools/gopls@latest
fi

if ! [ -x "$(command -v golangci-lint)" ]; then
  {{- if eq .chezmoi.os "darwin" }}
  brew install golangci-lint
  {{- else }}
  echo "non-darwin not supported"
  {{- end }}
fi

if ! [ -x "$(command -v pgcli)" ]; then
  {{- if eq .chezmoi.os "darwin" }}
  brew install pgcli
  {{- else }}
  echo "non-darwin not supported"
  {{- end }}
fi

if ! [ -x "$(command -v tmuxinator)" ]; then
  {{- if eq .chezmoi.os "darwin" }}
  brew install tmuxinator
  {{- else }}
  echo "tmuxinator in non-darwin not supported"
  {{- end }}
fi
