default-cache-ttl 28800
max-cache-ttl 28800
enable-ssh-support
{{ if (eq .chezmoi.os "darwin") -}}
{{ if (eq .chezmoi.arch "arm64") -}}
pinentry-program /opt/homebrew/bin/pinentry-mac
{{- else }}
pinentry-program /usr/local/bin/pinentry-mac
{{- end }}
{{- end }}
