DefaultBrowser = "FIREFOX"
CustomBrowserPath = "{{ .chezmoi.homeDir }}/Applications/Firefox.app/Contents/MacOS/firefox"
CustomSSOBrowserPath = "/Applications/Google Chrome.app/Contents/MacOS/Google Chrome"
Ordering = ""
ExportCredentialSuffix = ""

[Keyring]
  Backend = "keychain"
