{
  "mcpServers": {
    "context7": {
      "command": "context7-mcp"
    },
    "chrome": {
      "command": "chrome-devtools-mcp",
      "args": ["--no-usage-statistics", "--isolated", "--headless"]
    },
    "nvim": {
      "command": "nvim-mcp",
      "args": ["--connect", "auto"]
    },
    "deepwiki": {
      "url": "https://mcp.deepwiki.com/mcp"
    }
{{- if eq .chezmoi.username "shi-han.ng" }}
    ,
{{ includeTemplate "mcp-work-servers.json.tmpl" . | trim | indent 4 }}
{{- end }}
  }
}
