{
  "$schema": "https://opencode.ai/config.json",
  "autoupdate": false,
  "model": "github-copilot/claude-sonnet-4.6",
  "permission": {
    "nvim_*": "allow"
  },
  {{- if lookPath "hunk" }}
  "skills": {
    "paths": ["{{ output "hunk" "skill" "path" | trim | dir | dir }}"]
  },
  {{- end }}
  "default_agent": "plan",
  "plugin": ["@mohak34/opencode-notifier@latest"],
  "mcp": {
    "memory": {
      "type": "local",
      "command": ["mcp-server-memory"],
      "enabled": false,
      "environment": {
        "MEMORY_FILE_PATH": "~/memory.json"
      }
    },
    "vectorcode-mcp-server": {
      "type": "local",
      "command": ["vectorcode-mcp-server"],
      "enabled": false
    },
    "context7": {
      "type": "local",
      "command": ["context7-mcp"],
      "enabled": true
    },
    "astro_doc": {
      "type": "remote",
      "url": "https://mcp.docs.astro.build/mcp",
      "enabled": false
    },
    "shadcn": {
      "type": "local",
      "command": ["shadcn", "mcp"],
      "enabled": false
    },
    "opentofu": {
      "type": "local",
      "command": ["opentofu-mcp-server"],
      "enabled": false
    },
    "sequential-thinking": {
      "type": "local",
      "command": ["mcp-server-sequential-thinking"],
      "enabled": true
    },
    "dbhub-postgres-npx": {
      "type": "local",
      "command": [
        "dbhub",
        "--transport",
        "stdio",
        "--dsn",
        "postgres://postgres@localhost:5432/postgres?sslmode=disable"
      ],
      "enabled": false
    },
    "chrome": {
      "type": "local",
      "command": [
        "chrome-devtools-mcp",
        "--no-usage-statistics",
        "--isolated",
        "--headless"
      ],
      "enabled": false
    },
    "codebase-memory-mcp": {
      "type": "local",
      "command": [
        "codebase-memory-mcp"
      ],
      "enabled": false
    },
    "nvim": {
      "type": "local",
      "command": [
        "nvim-mcp",
        "--connect",
        "auto"
      ],
      "enabled": true
    },
    "deepwiki": {
      "type": "remote",
      "url": "https://mcp.deepwiki.com/mcp",
      "enabled": true
    }
  },
  "lsp": {
    "pyright": {
      "disabled": true
    },
    "zuban": {
      "command": ["zuban", "server"],
      "extensions": [".py", ".pyi"]
    }
  }
}
