{
  "$schema": "https://opencode.ai/config.json",
{{- if eq .chezmoi.username "shi-han.ng" }}
  "provider": {
      "litellm": {
          "npm": "@ai-sdk/openai-compatible",
          "name": "LiteLLM",
          "options": {
              "baseURL": "{{- onepasswordRead "op://Personal/LiteLLM/hostname" -}}/v1"
          },
          "models": {
              "bedrock/global.anthropic.claude-haiku-4-5-20251001-v1:0": {
                  "name": "bedrock/global.anthropic.claude-haiku-4-5-20251001-v1:0"
              },
              "bedrock/global.anthropic.claude-opus-4-6-v1": {
                  "name": "bedrock/global.anthropic.claude-opus-4-6-v1"
              },
              "bedrock/global.anthropic.claude-sonnet-4-6": {
                  "name": "bedrock/global.anthropic.claude-sonnet-4-6"
              }
          }
      }
  },
  "model": "litellm/bedrock/global.anthropic.claude-sonnet-4-6",
  "agent": {
      "plan": {
          "model": "litellm/bedrock/global.anthropic.claude-opus-4-6-v1"
      },
      "build": {
          "model": "litellm/bedrock/global.anthropic.claude-sonnet-4-6"
      },
      "code-reviewer": {
          "model": "litellm/bedrock/global.anthropic.claude-haiku-4-5-20251001-v1:0"
      },
      "committer": {
          "model": "litellm/bedrock/global.anthropic.claude-haiku-4-5-20251001-v1:0"
      },
      "content-proofreader": {
          "model": "litellm/bedrock/global.anthropic.claude-haiku-4-5-20251001-v1:0"
      }
  },
  {{ else }}
  "model": "github-copilot/claude-sonnet-4.6",
  "agent": {
    "plan": {
      "model": "github-copilot/claude-opus-4.6"
    },
    "build": {
      "model": "github-copilot/claude-sonnet-4.6"
    }
  },
  {{ end -}}
  "default_agent": "plan",
  "plugin": ["@mohak34/opencode-notifier@latest"],
  "mcp": {
    "memory": {
      "type": "local",
      "command": ["mcp-server-memory"],
      "enabled": true,
      "environment": {
        "MEMORY_FILE_PATH": "~/memory.json"
      }
    },
    "vectorcode-mcp-server": {
      "type": "local",
      "command": ["vectorcode-mcp-server"],
      "enabled": false
    },
    "context7": {
      "type": "local",
      "command": ["context7-mcp"],
      "enabled": true
    },
    "astro_doc": {
      "type": "remote",
      "url": "https://mcp.docs.astro.build/mcp",
      "enabled": false
    },
    "shadcn": {
      "type": "local",
      "command": ["shadcn", "mcp"],
      "enabled": false
    },
    "opentofu": {
      "type": "local",
      "command": ["opentofu-mcp-server"],
      "enabled": false
    },
    "sequential-thinking": {
      "type": "local",
      "command": ["mcp-server-sequential-thinking"],
      "enabled": true
    },
    "dbhub-postgres-npx": {
      "type": "local",
      "command": [
        "dbhub",
        "--transport",
        "stdio",
        "--dsn",
        "postgres://postgres@localhost:5432/postgres?sslmode=disable"
      ],
      "enabled": false
    },
    "chrome": {
      "type": "local",
      "command": [
        "chrome-devtools-mcp",
        "--no-usage-statistics",
        "--isolated",
        "--headless"
      ],
      "enabled": false
    }
  },
  "lsp": {
    "pyright": {
      "disabled": true
    },
    "zuban": {
      "command": ["zuban", "server"],
      "extensions": [".py", ".pyi"]
    }
  }
}
