"$schema" = "https://jj-vcs.github.io/jj/latest/config-schema.json"

[user]
name = "Shi Han NG"
email = "shihanng@gmail.com"

[signing]
behavior = "drop"
backend = "ssh"
key = "ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIN0tszglGwnR8Jpfza8h9YiqNFW7m/sYbiDqGqOyGoMt"
backends.ssh.program = "/Applications/1Password.app/Contents/MacOS/op-ssh-sign"

[git]
sign-on-push = true

[ui]
diff-editor = ["nvim", "-c", "DiffEditor $left $right $output"]
merge-editor = "diffconflicts"

[merge-tools.diffconflicts]
program = "nvim"
merge-args = ["-c", "JJDiffConflicts", "$output"]
merge-tool-edits-conflict-markers = true

[aliases]
push = ["util", "exec", "--", "jj-pre-push", "push"]
x = ["util", "exec", "--", "jj-run"]

[fix.tools.yamlfmt]
command = ["yamlfmt", "-in"]
patterns = ["glob:'**/*.yaml' ~ pnpm-lock.yaml", "glob:'**/*.yml'"]
enabled = false

[fix.tools.taplo-fmt]
command = ["taplo", "fmt", "--stdin-filepath", "$path", "-"]
patterns = ["glob:'**/*.toml'"]
enabled = false

[fix.tools.prettier]
command = ["prettier", "--stdin-filepath", "$path"]
patterns = [
  "glob:'**/*.js'",
  "glob:'**/*.ts'",
  "glob:'**/*.astro'",
  "glob:'**/*.jsx'",
  "glob:'**/*.tsx'",
  "glob:'**/*.json' ~ lazy-lock.json",
  "glob:'**/*.md'",
]
enabled = false

[fix.tools.stylua]
command = ["stylua", "--stdin-filepath", "$path", "-"]
patterns = ["glob:'**/*.lua'"]
enabled = false

[fix.tools.luacheck]
command = [
  "jjgi",
  "--on-success-stdout=stdin",
  "--on-success-stderr=stdout",
  "--",
  "luacheck",
  "-",
]
patterns = ["glob:'**/*.lua'"]
enabled = false

[fix.tools.sort-lines]
command = [
  "jjgi",
  "--stdin-file",
  "--on-success-stdout=stdin-file",
  "--",
  "sort-lines",
  "{stdin_file}",
]
patterns = ["glob:'**/mise/config.toml'"]
enabled = false

[fix.tools.markdownlint-cli2]
command = ["markdownlint-cli2", "--fix", "--format"]
patterns = ["glob:'**/*.md'"]
enabled = false

[fix.tools.tflint]
command = [
  "jjgi",
  "--on-success-stdout=stdin",
  "--on-success-stderr=stdout",
  "--",
  "tflint",
  "--recursive",
]
patterns = ["glob:'**/*.tf'"]
enabled = false

[fix.tools.tofu-fmt]
command = ["tofu", "fmt", "-"]
patterns = ["glob:'**/*.tf'"]
enabled = false
