{
  "lastChangelogVersion": "0.85.1",
  "theme": "dark",
{{- if eq .chezmoi.username "shi-han.ng" }}
  "defaultProvider": "anthropic",
  "defaultModel": "claude-sonnet-5",
{{- else }}
  "defaultProvider": "openai-codex",
  "defaultModel": "gpt-5.6-terra",
{{- end }}
  "defaultThinkingLevel": "medium",
  "enableInstallTelemetry": false,
{{- if lookPath "hunk" }}
  "skills": ["{{ output "hunk" "skill" "path" | trim | dir | dir }}"],
{{- end }}
  "packages": [
    "npm:pi-provider-litellm",
    "npm:pi-nvim",
    "npm:pi-mcp-adapter",
    "npm:pi-web-access",
    "npm:@ff-labs/pi-fff",
    "npm:@tintinweb/pi-subagents",
    "npm:@tintinweb/pi-tasks",
    "npm:pi-btw"
  ]
}
