if status is-interactive
    # Commands to run in interactive sessions can go here
end

function fish_user_key_bindings
  bind \cs 'pet-select'
end

source ~/.asdf/asdf.fish

asdf exec direnv hook fish | source
function direnv
  asdf exec direnv $argv
end

starship init fish | source

luarocks path --bin | source
