layout {
    swap_tiled_layout name="vertical" {
        tab max_panes=5 {
            pane split_direction="vertical" {
                pane
                pane { children; }
            }
        }
        tab max_panes=8 {
            pane split_direction="vertical" {
                pane { children; }
                pane { pane; pane; pane; pane; }
            }
        }
        tab max_panes=12 {
            pane split_direction="vertical" {
                pane { children; }
                pane { pane; pane; pane; pane; }
                pane { pane; pane; pane; pane; }
            }
        }
    }

    swap_tiled_layout name="horizontal" {
        tab max_panes=5 {
            pane
            pane
        }
        tab max_panes=8 {
            pane {
                pane split_direction="vertical" { children; }
                pane split_direction="vertical" { pane; pane; pane; pane; }
            }
        }
        tab max_panes=12 {
            pane {
                pane split_direction="vertical" { children; }
                pane split_direction="vertical" { pane; pane; pane; pane; }
                pane split_direction="vertical" { pane; pane; pane; pane; }
            }
        }
    }

    swap_tiled_layout name="stacked" {
        tab min_panes=5 {
            pane split_direction="vertical" {
                pane
                pane stacked=true { children; }
            }
        }
    }

    swap_floating_layout name="staggered" {
        floating_panes
    }

    swap_floating_layout name="enlarged" {
        floating_panes max_panes=10 {
            pane { x "5%"; y 1; width "90%"; height "90%"; }
            pane { x "5%"; y 2; width "90%"; height "90%"; }
            pane { x "5%"; y 3; width "90%"; height "90%"; }
            pane { x "5%"; y 4; width "90%"; height "90%"; }
            pane { x "5%"; y 5; width "90%"; height "90%"; }
            pane { x "5%"; y 6; width "90%"; height "90%"; }
            pane { x "5%"; y 7; width "90%"; height "90%"; }
            pane { x "5%"; y 8; width "90%"; height "90%"; }
            pane { x "5%"; y 9; width "90%"; height "90%"; }
            pane focus=true { x 10; y 10; width "90%"; height "90%"; }
        }
    }

    swap_floating_layout name="spread" {
        floating_panes max_panes=1 {
            pane {y "50%"; x "50%"; }
        }
        floating_panes max_panes=2 {
            pane { x "1%"; y "25%"; width "45%"; }
            pane { x "50%"; y "25%"; width "45%"; }
        }
        floating_panes max_panes=3 {
            pane focus=true { y "55%"; width "45%"; height "45%"; }
            pane { x "1%"; y "1%"; width "45%"; }
            pane { x "50%"; y "1%"; width "45%"; }
        }
        floating_panes max_panes=4 {
            pane { x "1%"; y "55%"; width "45%"; height "45%"; }
            pane focus=true { x "50%"; y "55%"; width "45%"; height "45%"; }
            pane { x "1%"; y "1%"; width "45%"; height "45%"; }
            pane { x "50%"; y "1%"; width "45%"; height "45%"; }
        }
    }

    default_tab_template {
        pane size=1 borderless=false {
            plugin location="zjstatus" {
                color_bg "#24273a"
                format_left  "{mode}#[fg=#8bd5ca,bg=$bg]{tabs}"
                format_right "#[fg=$bg,bg=#b1bbfa] {session} "
                format_space "#[bg=$bg]"
                format_hide_on_overlength "true"
                format_precedence "lrc"

                border_enabled  "false"
                border_char     "─"
                border_format   "#[fg=#6C7086]{char}"
                border_position "top"

                hide_frame_for_single_pane "false"

                mode_normal        "#[bg=#7dc4e4,fg=$bg] NORMAL#[bg=$bg,fg=#7dc4e4]"
                mode_locked        "#[bg=#6e738d,fg=$bg] LOCKED #[bg=$bg,fg=#6e738d]"
                mode_resize        "#[bg=#8aadf4,fg=$bg] RESIZE#[bg=$bg,fg=#8aadf4]"
                mode_pane          "#[bg=#8aadf4,fg=$bg] PANE#[bg=$bg,fg=#8aadf4]"
                mode_tab           "#[bg=#8aadf4,fg=$bg] TAB#[bg=$bg,fg=#8aadf4]"
                mode_scroll        "#[bg=#8aadf4,fg=$bg] SCROLL#[bg=$bg,fg=#8aadf4]"
                mode_enter_search  "#[bg=#8aadf4,fg=$bg] ENT-SEARCH#[bg=$bg,fg=#8aadf4]"
                mode_search        "#[bg=#8aadf4,fg=$bg] SEARCHARCH#[bg=$bg,fg=#8aadf4]"
                mode_rename_tab    "#[bg=#8aadf4,fg=$bg] RENAME-TAB#[bg=$bg,fg=#8aadf4]"
                mode_rename_pane   "#[bg=#8aadf4,fg=$bg] RENAME-PANE#[bg=$bg,fg=#8aadf4]"
                mode_session       "#[bg=#8aadf4,fg=$bg] SESSION#[bg=$bg,fg=#8aadf4]"
                mode_move          "#[bg=#8aadf4,fg=$bg] MOVE#[bg=$bg,fg=#8aadf4]"
                mode_prompt        "#[bg=#8aadf4,fg=$bg] PROMPT#[bg=$bg,fg=#8aadf4]"
                mode_tmux          "#[bg=#f5a97f,fg=$bg] TMUX#[bg=$bg,fg=#f5a97f]"

                tab_normal              "#[fg=$bg,bg=#5b6078] #[fg=$bg,bg=#5b6078]{index}  {name}{floating_indicator} #[fg=#5b6078,bg=$bg]"
                tab_normal_fullscreen   "#[fg=$bg,bg=#5b6078] #[fg=$bg,bg=#5b6078]{index}  {name}{fullscreen_indicator} #[fg=#5b6078,bg=$bg]"
                tab_normal_sync         "#[fg=$bg,bg=#5b6078] #[fg=$bg,bg=#5b6078]{index}  {name}{sync_indicator} #[fg=#5b6078,bg=$bg]"
                tab_active              "#[fg=$bg,bg=#91d7e3,bold] {index}  {name}{floating_indicator} #[fg=#91d7e3,bg=$bg]"
                tab_active_fullscreen   "#[fg=$bg,bg=#91d7e3,bold] {index}  {name}{fullscreen_indicator} #[fg=#91d7e3,bg=$bg]"
                tab_active_sync         "#[fg=$bg,bg=#91d7e3,bold] {index}  {name}{sync_indicator} #[fg=#91d7e3,bg=$bg]"

                // separator between the tabs
                tab_separator           ""

                // indicators
                tab_sync_indicator       "  "
                tab_fullscreen_indicator " 󰊓 "
                tab_floating_indicator   " 󰹙 "
            }
        }
        children
        pane size=1 borderless=false {
            plugin location="zjstatus" {
                format_right "{pipe_zjstatus_hints}"

                pipe_zjstatus_hints_format "{output}"
            }
        }
    }
}
